.bottom {
  position: absolute;
  bottom: 7.5vh;
  width: 75%;
  margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.settings {
  z-index: 1;
  position: relative;
  top: 25px;
  left: 25px;
}

.full {
  height: 100%;
}

/* Text Input */
.textfield {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.sendButton {
  margin-left: 10px !important;
}

/* Response History */
.textfieldResponses {
  width: 100%;
  margin: auto auto 10px auto;
  background-color: #f5f5f5;
  text-align: left;
  white-space: pre-wrap;
}
